@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/* 
============================================================================================================ 
공통
============================================================================================================ 
*/

html,
body {
  font-family: 'Nunito Sans', 'Roboto', 'Nanum Gothic', sans-serif;
  width: 100%;
  height: 100vh;
  color: #434648;
  background-color: #eff5f5;
}

::placeholder {
  font-size: 0.75rem;
  color: #d4d4d4;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

#ColorDropdownSublist::-webkit-scrollbar {
  width: 0px;
}

#chrome-picker {
  box-shadow: none;
}

/* 
============================================================================================================ 
input
============================================================================================================ 
*/

.inputUnderline {
  @apply border-b bg-transparent focus:outline-none;
}

.title {
  @apply text-xl font-black uppercase;
}

.btnFullBlue {
  @apply w-full rounded-lg bg-blue-500 py-2 px-4 text-sm font-bold uppercase tracking-wide text-white hover:bg-blue-600 hover:shadow-lg;
}

.btnGray {
  @apply rounded-lg bg-gray-300 py-1 px-3 text-sm font-bold uppercase tracking-wide text-white hover:bg-gray-400 hover:shadow-lg;
}

.btnGreen {
  @apply rounded-md bg-green-500 px-2 py-1 md:bg-green-300;
}

.btnLightGreen {
  @apply rounded-md bg-green-300 px-2 py-1 hover:bg-green-500;
}

.btnLightCarrot {
  @apply rounded-md bg-carrot-light px-2 py-1 hover:bg-carrot-deep;
}

.btnFullOutlineGray {
  @apply w-full rounded-lg border border-gray-300 py-1 px-4 text-sm font-bold uppercase tracking-wide text-gray-400 hover:border-gray-700 hover:bg-gray-700 hover:text-white hover:shadow-lg;
}

.btnIconHoverContainer {
  @apply cursor-pointer rounded-full p-2 hover:bg-gray-100;
}

.inputUnderline {
  @apply w-full border-b bg-transparent pl-1 tracking-wide focus:outline-none;
}

.inputBorderBottomBlue {
  @apply w-full border-b bg-transparent pl-1 tracking-wide text-gray-700 focus:border-b-2 focus:border-blue-500 focus:outline-none;
}

.inputBorderBottomCarrot {
  @apply w-full border-b bg-transparent tracking-wide text-gray-700 focus:border-b-2 focus:border-carrot-light focus:outline-none;
}

.inputBorderCarrot {
  @apply w-full rounded-lg border border-gray-300 px-2 focus:border-2 focus:border-carrot-light focus:outline-none;
}

.inputBorderGray {
  @apply w-full rounded-lg border border-gray-300 px-2 focus:outline-none;
}

.reference {
  @apply mt-3 pl-1 text-xs text-gray-400;
}

.alertTextSm {
  @apply text-xs text-red-600;
}

.headingLg {
  @apply text-lg uppercase text-gray-600;
}

.bodyContainer {
  @apply relative flex flex-col border-t py-5 px-2 md:border-none md:p-5;
}

/* 
============================================================================================================ 
LeftRemote
============================================================================================================ 
*/

.leftRemoteIcon {
  @apply cursor-pointer text-xl text-green-700 hover:text-green-500 md:text-3xl;
}

/* 
============================================================================================================ 
Colors
============================================================================================================ 
*/

.menuItem {
  @apply mr-4 w-full cursor-pointer px-1 pb-1 text-sm text-gray-400 transition-all hover:border-b-2 hover:border-green-500 hover:border-opacity-30;
}

.menuItemSelected {
  @apply border-b-2 border-green-700 font-semibold text-green-black hover:border-opacity-100;
}

#user-colors::-webkit-scrollbar {
  display: none;
}

#color-picker-bg {
  background-image: url('../public/images/plant1.jpg');
  width: 100%;
  height: 133px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: inset 0 0 0 2000px rgba(60, 70, 72, 0.4);
}

/* 
============================================================================================================ 
Dropdown
============================================================================================================ 
*/

.dropdownListItem {
  @apply flex cursor-pointer rounded-lg border-t p-2 text-sm;
}
